* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body::after{
        content: "";
        background: url(https://st2.depositphotos.com/7668048/46319/v/450/depositphotos_463197070-stock-illustration-astronaut-rocket-alien-open-space.jpg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      
}
#res{
    color: #175292;
    font-weight: bold;
    font-size: 40px;
}
#game{
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: #aabfd5;
    font-size: 80px;
    
}
.block{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    cursor: pointer;
    
}
#again{
    border: none;
    color: black;
    background: #175292;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#pl1{
    background: rgb(230, 135, 76);
    border: none;
    color: black;
    padding: 7px 12px;
    font-size: 15px;
}
#pl2{
    background: seagreen;
    border: none;
    color: black;
    padding: 6px 12px;
    font-size: 15px;
}